<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="css/template.css">
</head>
<body>
<div class="form">
    <form>
        <h2>Something went wrong! Maybe:</h2>
        <h2>-You are trying to register an existing account</h2>
        <h2>-You've entered incorrect login data</h2>
        <h2>Try again!</h2>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </form>
</div>
</body>
</html>